.time { 
    text-align: center;
    padding: 32px;
    position: relative;
 
}

.time h3 {
    font-size: 2rem;
    padding-bottom: .5rem;
    border-bottom: .25rem solid;
    display: inline-block;
}
.membros {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-cor {
    position: absolute;
    top: 1.25rem;
    right: 3.125rem;
}