.campo-texto {
    margin: 1.5rem 0;
}

.campo-texto label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.campo-texto input {
    background-color: #FFF;
    box-shadow: 0.625rem 0.625rem 1.875rem rgba(0, 0, 0.06);
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 5px;
}